jaxbmule/target/classes/muletraningproject2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.6.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <file:connector name="JaxbFile" outputPattern="${payLoad}" autoDelete="false" streaming="true" validateConnections="true" doc:name="File"/>
    <file:connector name="File1" autoDelete="false" streaming="true" validateConnections="true" doc:name="File"/>
    <file:connector name="File2" autoDelete="false" streaming="true" validateConnections="true" doc:name="File"/>
    <flow name="muletraningproject2Flow">
        <file:inbound-endpoint path="C:\Users\ramvemur\Desktop\Mule1" connector-ref="File1" responseTimeout="10000" doc:name="DasuFile1"/>
        <json:xml-to-json-transformer doc:name="XML to JSON"/>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
        <json:json-to-xml-transformer doc:name="JSON to XML"/>
        <file:outbound-endpoint path="C:\Users\ramvemur\Desktop\Mule2" responseTimeout="10000" doc:name="DasuFile2" connector-ref="File2"/>
    </flow>
    
 </mule>
